* {
  margin: 0;
  padding: 0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
}

.head {
  width: 400px;
  margin: auto;
  margin-top: 30vh;
}
